@using Radzen
@using Radzen.Blazor

<link href="_content/Radzen.Blazor/css/standard.css" rel="stylesheet">
<div class="content-with-right-panel" style="right:0">
    <div class="flex items-center justify-between pos-top-search-area">
        <h2 class="mb-0 font-medium">Receipt Log </h2>
    </div>

    <div class="product-list-wrap-pos order-history-top" id="product-list">
        <div class="row px-3 pb-3 justify-between">
        </div>

        <RadzenDataGrid style="height:720px" Count="@count" Data="@receipts" LoadData="@LoadData" AllowSorting="true" AllowPaging="true" PageSize="10"
                        PagerHorizontalAlign="HorizontalAlign.Center" TItem="ConfirmedReciept" ColumnWidth="100px" ShowPagingSummary="true">
            @*@bind-Value=@selectedOrder RowSelect=@RowSelect*@
            <EmptyTemplate>
                <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="ConfirmedReciept" Property="RecieptNo" Title="RecieptNo">

                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ConfirmedReciept" Property="CustomerName" Title="CustomerName" />
                <RadzenDataGridColumn TItem="ConfirmedReciept" Property="PhoneNumber" Title="PhoneNumber">

                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ConfirmedReciept" Property="CreatedOn" Title="Sms Send Date">
                    <Template Context="order">@order.CreatedOn</Template>
                </RadzenDataGridColumn>
                @*<RadzenDataGridColumn TItem="ConfirmedReciept" Property="Message" Title="Message" Sortable=false Filterable=false />*@

                <RadzenDataGridColumn Width="160px" TItem="ConfirmedReciept" Property="Message" Title="Message" Sortable=false Filterable=false>
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="info" Class="m-1" Click=@(() => orderDetailsById(data)) Text="Message" />

                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        @if (showModal)
        {
            if (modalDetails.Message != null)
            {
                <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto show" style="display:block;" id="add-customer" tabindex="-1" aria-labelledby="add-customerTitle" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
                        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                            <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                                    Message
                                </h5>
                                <button type="button" @onclick="CloseModal" class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>

                            <div class="modal-body relative p-4">

                                <div class="alert alert-success p-2"> @modalDetails.Message</div>

                            </div>
                            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                                <button type="button" @onclick="CloseModal" class="cancel-button ml-2">Close</button>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show"></div>
            }
        }

    </div>
</div>
@code {
}