@using Radzen
@using Radzen.Blazor

<link href="_content/Radzen.Blazor/css/standard.css" rel="stylesheet">
<div class="content-with-right-panel" style="right:0">
    <div class="flex items-center justify-between pos-top-search-area">
        <h2 class="mb-0 font-medium">Customers</h2>
    </div>

    <div class="product-list-wrap-pos order-history-top" id="product-list">
        

        <RadzenDataGrid  style="height:720px" IsLoading=@isLoading Count="@count" Data="@users" LoadData="@LoadData" AllowSorting="true" AllowPaging="true" PageSize="10"
                        PagerHorizontalAlign="HorizontalAlign.Center" TItem="UserResponseModel" ColumnWidth="100px" ShowPagingSummary="true">
         
            <EmptyTemplate>
                <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="UserResponseModel" Property="UserName" Title="UserName">

                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="UserResponseModel" Property="PhoneNumber" Title="PhoneNumber">
                    <Template Context="order">@order.PhoneNumber</Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

      @*  @if (showModal)
        {
            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto show" style="display:block;" id="add-customer" tabindex="-1" aria-labelledby="add-customerTitle" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
                    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                        <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                                Import data from Excel
                            </h5>
                            <button type="button" @onclick="CloseModal" class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        @if (productImportResponse != null && productImportResponse.IsProcessComplete)
                        {
                            <div class="modal-body relative p-4">
                                @if (productImportResponse.SuccessCount > 0)
                                {
                                    <div class="alert alert-success p-2"><strong>Success!</strong> @productImportResponse.SuccessCount products uploaded successfuly.</div>
                                }
                                @if (productImportResponse.FailedCount > 0)
                                {
                                    <div class="alert alert-danger p-2"><strong>Failed!</strong> @productImportResponse.FailedCount products upload failed.</div>
                                }
                            </div>
                            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                                <button type="button" @onclick="CloseModal" class="cancel-button ml-2">Close</button>
                            </div>
                        }
                        else
                        {
                            <EditForm Model="model" OnValidSubmit="OnSubmit">
                                <div class="modal-body relative p-4">
                                    <div class="w-full mb-4">
                                        <InputFile class="font-medium border-b form-input w-full" OnChange="OnInputFileChange" />
                                    </div>
                                    @if (uploadLoader == 1)
                                    {
                                        <div class="alert alert-success p-2"><strong>Success!</strong> File uploaded completed.</div>
                                    }
                                    else if (uploadLoader == 2)
                                    {
                                        <div class="alert alert-warning p-2"><strong>Loading!</strong> Upload on progress.</div>
                                    }
                                    <a href="SampleExcel/ProductImportSample.xlsx">Download Sample</a>
                                </div>
                                <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                                    <button type="submit" class="btn-green">
                                        Import
                                        @if (uploadLoader == 2)
                                        {
                                            <div class="spinner-border text-primary ml-1" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        }
                                    </button>
                                    <button type="button" @onclick="CloseModal" class="cancel-button ml-2">Cancel</button>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        }*@

    </div>
</div>